nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='dashboard')
    | Imagifinity
  button.navbar-toggler(type='button', (click)='toggleNavbar()')
    span.navbar-toggler-icon
  .collapse.navbar-collapse([ngClass]="{ 'show': navbarOpen }")
    ul.navbar-nav.mr-auto
      li.nav-item(routerlinkactive='active')
        a.nav-link(routerlink='/dashboard') Dashboard
      li.nav-item(routerlinkactive='active')
        a.nav-link(routerlink='/user-edit') Edit User
      li.nav-item(routerlinkactive='active')
        a.nav-link(routerlink='/reservations') Reservations