dl-date-time-picker(maxView="year",
                    minView="minute",
                    startView="day",
                    minuteStep="30",
                    "[(ngModel)]"="selectedDate")

hr

textarea

hr

button Reserve